h1{
    text-align: center;
    font-weight: bold;
}

.data {
    display: inline-block;
    align-items: center;
}

table {
    text-align: center;
}

table, th {
    text-transform: uppercase;
}

.contenedor{
    margin-top: 20px;
}

.nickname {
    font-weight: bold;
}